#explanation1 , #date_id , #title_id {
    font-size: 20px;
    font-weight: 200;
}

header{
    background-color: antiquewhite;
}

#nasa , #title1 {
    display: inline-block;
    width: 15vw;
    

}

#title1 {
    padding: 0 0 1rem 1rem;
    width: 60%;
    text-align: center;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

